@charset="utf-8";
p{
	text-align: justify;
	text-indent: 50px;
}


body{
	 /*background-color: rgba (60,200,200,0.25);  /*O 0.25 é para clarear a cor do site */
	 /*background-image:url("windows.jpg");*/
     background-color: hsla(150,81%,93%,0.5);
}

figure.foto-legenda{
	border: 8px solid red;
	box-shadow: 1px 1px 40px black;
}

figure.foto-legenda img{
	width: 100%;
	height: 100%;

}